$default-background-color: #EBEBEB;
$default-form-background-color: #F7F7F7;
$default-message-box-background-color: #F1F1F1;
$default-user-message-box-background-color: #C2D8FF;
$default-message-timestamp-color: #8D8D8D;
$default-message-input-placeholder-color: #A8A8A8;
$default-message-input-button-color: #6799EF;