@use 'assets/styles/colors' as colors;
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'ngx-toastr/toastr-bs5-alert';

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

:root {
    @include colors.auth-light-theme-colors;
    @include colors.theme-switch-light-theme-colors;
}

.dark-theme {
    @include colors.auth-dark-theme-colors;
    @include colors.theme-switch-dark-theme-colors;
}