.input-wrapper {
    position: relative;
    width: 100%;

    svg {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;

        path {
            fill: var(--auth-icon-color);
        }
    }

    input {
        width: inherit;
        padding: 12px 8px 12px 40px;
        background-color: var(--auth-input-bg-color);
        border: 1px solid var(--auth-input-border-color);
        color: var(--auth-input-color);
        border-radius: 8px;
        font-size: 16px;
        box-sizing: border-box;
        outline: none;
        cursor: pointer;

        &::placeholder {
            color: var(--auth-input-placeholder-color);
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: var(--auth-text-color) !important;
            -webkit-box-shadow: 0 0 0px 1000px var(--auth-input-bg-color) inset !important;
        }
    }
}