<div
    infiniteScroll
    [infiniteScrollDisabled]="messageListEndReached()"
    [infiniteScrollUpDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolledUp)="onScroll()"
    [scrollWindow]="false"
    class="message-list-container"
    [scrollTop]="messageListContainer.scrollHeight"
    #messageListContainer>
    @for (item of messageRenderItems(); track $index) {
        @if (item.type == 'date-badge') {
            <app-messages-date-badge
                class="date-badge"
                [label]="item.label">
            </app-messages-date-badge>
        }
        @if (item.type == 'message') {
            <app-chat-message
                [isGroupChat]="isGroupChat()"
                [messageDto]="item.messageDto"></app-chat-message>
        }
    }
</div>