.message-list-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
    gap: 2.5px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    padding-bottom: 20px;
    height: 100%;
}

.message-list-container::-webkit-scrollbar {
    display: none;
}