<div 
    class="message-container"
    (contextmenu)="onMessageRightClick($event)"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd()"
    (touchmove)="onTouchMove()"
    [class.current-user-reverse]="isCurrentUser()"
    [class.long-pressing]="isLongPressing()">
    <div class="image-box">
        <img [class.none]="!userIconVisible()" [src]="userIcon()" alt="UserImage" />
    </div>
    <div
        class="message-box">
        @if (isGroupChat() && !isCurrentUser() && userNameVisible()) {
            <p class="username">{{ messageSender() }}</p>
        }
        <p class="content">{{ messageContent() }}</p>
        <p class="timestamp">{{ messageTimestamp() | date:'HH:mm' }}</p>
    </div>
</div>