button {
    background: rgb(254,172,94);
    background: linear-gradient(90deg, rgba(254,172,94,1) 0%, rgba(199,121,208,1) 50%, rgba(75,192,200,1) 100%);
    border: none;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    width: inherit;
    height: inherit;
    font-size: inherit;
    text-align: center;
}