.container {
    display: grid;
    grid-template-columns: 1fr 4fr;

    .chat-list-box {
        height: 100vh;
        border-right: 1px solid #9D9D9D;
    }

    .chat-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}