<div class="container">
    <div class="logo">
        <img src="/images/logo.png" alt="Logo">
        <h1>MessengerM</h1>
    </div>
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-input">
            <app-auth-input
                [name]="'fakeusernameremembered'"
                [svgConfig]="usernameIcon"
                [inputType]="'text'"
                [inputPlaceholder]="'Type your username'"
                formControlName="username"></app-auth-input>
            <app-auth-error-box
                [errors]="formConfiguration['username'].controlErrors()"
                [errorMessagesConfig]="formConfiguration['username'].errorMessagesConfig()"
                [inputTouchedOrDirty]="formConfiguration['username'].controlTouchedOrDirty()"></app-auth-error-box>
        </div>
        <div class="form-input">
            <app-auth-input
                [name]="'name'"
                [svgConfig]="nameIcon"
                [inputType]="'text'"
                [inputPlaceholder]="'Type your name'"
                formControlName="name"></app-auth-input>
            <app-auth-error-box
                [errors]="formConfiguration['name'].controlErrors()"
                [errorMessagesConfig]="formConfiguration['name'].errorMessagesConfig()"
                [inputTouchedOrDirty]="formConfiguration['name'].controlTouchedOrDirty()"></app-auth-error-box>
        </div>
        <div class="form-input">            
            <app-auth-input
                [name]="'email'"
                [svgConfig]="emailIcon"
                [inputType]="'email'" 
                [inputPlaceholder]="'Type your email'"
                formControlName="email"></app-auth-input>
            <app-auth-error-box
                [errors]="formConfiguration['email'].controlErrors()"
                [errorMessagesConfig]="formConfiguration['email'].errorMessagesConfig()"
                [inputTouchedOrDirty]="formConfiguration['email'].controlTouchedOrDirty()"></app-auth-error-box>
        </div>
        <div class="form-input">
            <app-auth-input
                [name]="'password'"
                [svgConfig]="passwordIcon"
                [inputType]="'password'"
                [inputPlaceholder]="'Type your password'"
                formControlName="password"></app-auth-input>
            <app-auth-error-box
                [errors]="formConfiguration['password'].controlErrors()"
                [errorMessagesConfig]="formConfiguration['password'].errorMessagesConfig()"
                [inputTouchedOrDirty]="formConfiguration['password'].controlTouchedOrDirty()"></app-auth-error-box>
        </div>
        <div class="form-input">
            <app-auth-input
                [name]="'repeatPassword'"
                [svgConfig]="passwordIcon"
                [inputType]="'password'"
                [inputPlaceholder]="'Repeat your password'"
                formControlName="repeatPassword"></app-auth-input>
            <app-auth-error-box
                [errors]="formConfiguration['repeatPassword'].controlErrors()"
                [errorMessagesConfig]="formConfiguration['repeatPassword'].errorMessagesConfig()"
                [inputTouchedOrDirty]="formConfiguration['repeatPassword'].controlTouchedOrDirty()"></app-auth-error-box>
        </div>

        <app-auth-button
            class="register-button"
            [disabled]="submitButtonDisabled()"
            [buttonText]="'Sign up'"></app-auth-button>
    </form>

    <div class="footer">
        <p>Back to <a class="link-message" [routerLink]="['/login']">Sign in</a> page</p>
        <p>Didn't get confirmation email? <a class="link-message" [routerLink]="['/resend-confirm-email']">Request new</a></p>
    </div>
</div>