@import '../../../assets/styles/mixins';
@import '../../../assets/styles/devices-size';

.container {
    @include flex-center;
    height: 100%;
    background-color: #EBEBEB;

    .form-background {
        @include flex-center;
        width: 80vw;
        height: 80vh;
        background-color: #F7F7F7;
        border-radius: 25px;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .register-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50%;

        h2 {
            margin: 0;
            padding: 0;
            font-weight: 700;
            font-size: 50px;
        }

        p.error-message {
            @include error-message;
            font-size: 12px;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px 0;

            p.error-message {
                align-self: start;
            }
        }

        > p.error-message {
            margin: -10px 0 10px;
        }

        p.login-message {
            a {
                color: #6799EF;
                text-decoration: none;
                font-weight: 700;
            }
        }

        .register-button {
            width: 120px;
            height: 40px;
            font-size: 14px;
        }
    }
}

@media (max-width: $mobileL-width) {
    .container {
        .form-background {
            width: 100vw;
            height: 100vh;
            border-radius: 0;
            box-shadow: none;
        }
    }
}