.chat-info-header-container {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    border-bottom: 1px solid var(--main-layout-parts-border-color);
    background-color: var(--main-chat-info-header-background-color);
    transition: background-color 0.3s ease;
    padding: 5px 20px;

    .chat-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;

        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .chat-name {
        display: flex;
        align-items: center;
        color: var(--main-chat-info-header-chat-name-color);
        font-size: 18px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
}