@use '../../../../../assets/styles/devices-size' as devices;

.error-box-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 32px;
    overflow-y: hidden;

    p {
        display: none;
        color: #FF4E1D;
        font-size: 14px;
        padding-left: 3px;
        padding-right: 10px;
    }

    img {
        display: none;
        width: 20px;
        height: 20px;
    }

    &.input-touched p, &.input-touched img {
        display: block;
    }
}

@media (max-width: devices.$mobileL-width) {
    .error-box-container {
        p {
            font-size: 12px;
        }

        img {
            width: 16px;
            height: 16px;
        }
    }
}