@import "../../../../../../assets/styles/colors";

.chat-item-container {
    display: grid;
    border: 0;
    text-decoration: none;
    color: #000000;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    padding: 10px 15px;
    cursor: pointer;

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    > div.user-box {
        align-items: flex-start;
        flex-direction: column;
    }
}

.chat-item-container.selected {
    background-color: $selected-chat-background-color;
}

.chat-item-container.selected:hover {
    background-color: $selected-chat-background-color;
}

.chat-item-container:hover {
    background-color: $chat-hover-background-color;
}

.user-box {
    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
        color: #A8A8A8;
    }
}

.image-box {
    img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
}

.time-box {
    p {
        font-size: 12px;
    }
}