@import '../../../../assets/styles/colors';

.chat-container {
    display: flex;
    position: relative;
    height: 100%;
    min-width: 700px;
    flex-direction: column;
    justify-content: flex-start;

    .chat-message-list {
        position: inherit;
        height: 500px;
    }

    .chat-input {
        width: inherit;
        max-width: inherit;
        min-width: inherit;
        bottom: 10%;
    }

    .chat-not-selected {
        font-size: 36px;
        color: $default-loading-color;
    }
}