.add-group-input-container {
    width: inherit;
    height: inherit;

    input {
        width: 100%;
        height: 100%;
        padding: 12px 20px;
        background-color: #F6F6F6;
        border: 1px solid #9D9D9D;
        color: #333333;
        border-radius: 8px;
        font-size: 16px;
        box-sizing: border-box;
        outline: none;
        cursor: pointer;
        
        &::placeholder {
            color: #B0B0B0;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: #333333 !important;
            -webkit-box-shadow: 0 0 0px 1000px #F6F6F6 inset !important;
        }
    }

    .text-area-input {
        resize: none;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
        padding: 12px 20px;
        background-color: #F6F6F6;
        border: 1px solid #9D9D9D;
        color: #333333;
        border-radius: 8px;
        font-size: 16px;
        box-sizing: border-box;
        outline: none;
        cursor: pointer;
    }
}