<div class="container">
    <div class="form-background">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h2>Messenger</h2>
            
            <div>
                <app-auth-input
                    [inputType]="'email'" 
                    [imageSource]="'/images/envelope.svg'" 
                    [inputPlaceholder]="'Type your email'"
                    formControlName="email"></app-auth-input>
                @if (formControlInvalid('email')) {
                    @if (formControlContainsError('email', 'required')) {
                        <p class="error-message">Email is required</p>
                    }
                    @if (formControlContainsError('email', 'email')) {
                        <p class="error-message">Email must be a valid email address</p>
                    }
                    @if (formControlContainsError('email', 'maxlength')) {
                        <p class="error-message">Email must be at most 50 characters long</p>
                    }
                }
                <app-auth-input
                    [inputType]="'password'"
                    [imageSource]="'/images/password.svg'"
                    [inputPlaceholder]="'Type your password'"
                    formControlName="password"></app-auth-input>
                @if (formControlInvalid('password')) {
                    @if (formControlContainsError('password', 'required')) {
                        <p class="error-message">Password is required</p>
                    }
                    @if (formControlContainsError('password', 'minlength')) {
                        <p class="error-message">Password must be at least 8 characters long</p>
                    }
                    @if (formControlContainsError('password', 'maxlength')) {
                        <p class="error-message">Password must be at most 30 characters long</p>
                    }
                }
            </div>

            <app-auth-button 
                class="login-button"
                [buttonText]="'Sign in'"
                (click)="onSubmit()"></app-auth-button>

            <p class="signup-message">Don't have an account? <a [routerLink]="['/signup']">Sign up</a></p>
        </form>
    </div>
</div>