<div class="container">
    <div class="logo">
        <img src="/images/logo.png" alt="Logo">
        <h1>MessengerM</h1>
    </div>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-input">
            <app-auth-input
                [inputType]="'email'"
                [svgConfig]="emailIcon"
                [inputPlaceholder]="'Type your email'"
                formControlName="email"></app-auth-input>
            <app-auth-error-box
                [errors]="formConfiguration['email'].controlErrors()"
                [errorMessagesConfig]="formConfiguration['email'].errorMessagesConfig()"
                [inputTouchedOrDirty]="formConfiguration['email'].controlTouchedOrDirty()"></app-auth-error-box>
        </div>
        <div class="form-input">
            <app-auth-input
                [inputType]="'password'"
                [svgConfig]="passwordIcon"
                [inputPlaceholder]="'Type your password'"
                formControlName="password"></app-auth-input>
            <app-auth-error-box
                [errors]="formConfiguration['password'].controlErrors()"
                [errorMessagesConfig]="formConfiguration['password'].errorMessagesConfig()"
                [inputTouchedOrDirty]="formConfiguration['password'].controlTouchedOrDirty()"></app-auth-error-box>
        </div>

        <app-auth-button 
            class="login-button"
            [disabled]="submitButtonDisabled()"
            [buttonText]="'Sign in'"></app-auth-button>
    </form>
    
    <div class="footer">
        <p>Don't have an account? <a class="link-message" [routerLink]="['/signup']">Sign up</a></p>
        <a class="link-message" [routerLink]="['/forgot-password']">Forgot password?</a>
    </div>
</div>