.message-list-container {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: inherit;
    top: 100px;
    padding-bottom: 50px;
}

.message-list-container::-webkit-scrollbar {
    display: none;
}