<div class="container">
    <app-chats-aside
        class="chats-aside"
        [ngClass]="mainStorage.SelectedChat() ? 'chat-selected' : 'chat-not-selected'"
        [chatRetrievalCutoff]="chatRetrievalCutoff"
        [chatsLoading]="chatsLoading"></app-chats-aside>
    <app-chat
        class="chat-box"
        [ngClass]="mainStorage.SelectedChat() ? 'chat-selected' : 'chat-not-selected'"
        (messageSubmitted)="sendMessageToChat($event)"
        [isAddPrivateChatRoute]="isAddPrivateChatRoute()"
        [isAddGroupChatRoute]="isAddGroupChatRoute()"></app-chat>
</div>