<div class="container">
    <div class="form-background">
        <form class="signup-form">
            <h2>Messenger</h2>
            
            <div>
                <app-auth-input
                    [inputType]="'text'" 
                    [imageSource]="'/images/at.svg'" 
                    [inputPlaceholder]="'Type your username'"
                    [(ngModel)]="signupRequest.username"
                    [name]="'username'"></app-auth-input>
                <p class="error-message" *ngIf="usernameErrorMessage">{{ usernameErrorMessage }}</p>
                <app-auth-input
                    [inputType]="'text'"
                    [imageSource]="'/images/user.svg'"
                    [inputPlaceholder]="'Type your name'"
                    [(ngModel)]="signupRequest.name"
                    [name]="'name'"></app-auth-input>
                <p class="error-message" *ngIf="nameErrorMessage">{{ nameErrorMessage }}</p>
                <app-auth-input
                    [inputType]="'email'" 
                    [imageSource]="'/images/envelope.svg'" 
                    [inputPlaceholder]="'Type your email'"
                    [(ngModel)]="signupRequest.email"
                    [name]="'email'"></app-auth-input>
                <p class="error-message" *ngIf="emailErrorMessage">{{ emailErrorMessage }}</p>
                <app-auth-input
                    [inputType]="'password'"
                    [imageSource]="'/images/password.svg'"
                    [inputPlaceholder]="'Type your password'"
                    [(ngModel)]="signupRequest.password"
                    [name]="'password'"></app-auth-input>
                <p class="error-message" *ngIf="passwordErrorMessage">{{ passwordErrorMessage }}</p>
                <app-auth-input
                    [inputType]="'password'"
                    [imageSource]="'/images/password.svg'"
                    [inputPlaceholder]="'Repeat your password'"
                    [(ngModel)]="repeatPassword"
                    [name]="'repeatPassword'"></app-auth-input>
                <p class="error-message" *ngIf="repeatPasswordErrorMessage">{{ repeatPasswordErrorMessage }}</p>
            </div>
            <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

            <app-auth-button
                class="signup-button"
                [buttonText]="'Sign up'"
                (click)="onSubmit()"></app-auth-button>
        </form>
    </div>
</div>