.user-item-container {
    display: grid;
    border: 0;
    text-decoration: none;
    color: #000000;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    padding: 10px 15px;
    cursor: pointer;

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    > div.user-box {
        align-items: flex-start;
        flex-direction: column;
    }
}

.user-item-container:hover {
    background-color: #F7F7F7;
}

.user-box {
    h3 {
        font-size: 16px;
    }
}

.image-box {
    img {
        width: 50px;
        height: 50px;
    }
}