@use "../../../assets/styles/devices-size" as devices;

.registration-success-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    width: 100%;
    padding: 20px 40px;
    background-color: var(--registration-success-bg-color);
    transition: background-color 0.3s ease;
    gap: 20px;

    img {
        width: 150px;
        height: 150px;
    }

    .info {
        text-align: center;
        color: var(--registration-success-text-color);

        h1 {
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 5px;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .back-to-main-button {
        margin-top: 30px;
    }
}

@media (max-width: devices.$mobileM-width) {
    .registration-success-container {
        padding: 0 20px;
        
        img {
            width: 100px;
            height: 100px;
        }

        .info {
            h1 {
                font-size: 1.7rem;
                margin-bottom: 5px;
            }

            p {
                font-size: 1rem;
            }
        }

        .back-to-main-button {
            margin-top: 75px;
        }
    }
}