.hamburger-button {
    border: 0;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: inherit;
    cursor: pointer;
    
    .hamburger-line {
        height: 3px;
        background-color: #D9D9D9;
        border-radius: 2px;
        width: 100%;
    }
}