.users-list-container {
    background-color: #E9E9E9;
    padding: 20px 30px;
    border-radius: 15px;
    position: relative;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
    
    .user-item {
        width: 100%;
    }

    .users-not-found {
        color: #A0A0A0;
    }
}