@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/devices-size';

.chat-container {
    display: flex;
    position: relative;
    height: 100dvh;
    flex-direction: column;
    width: 100%;
    min-height: 0;

    &.not-selected {
        justify-content: center;
        align-items: center;
    }

    .chat-info-header {
        flex: 0 0 auto;
    }

    .chat-message-list-wrapper {
        display: flex;
        justify-content: center;
        flex: 1 1 auto;
        overflow-y: hidden;

        .chat-message-list-empty-state {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: var(--main-chat-start-messaging-color);
            font-size: 24px;
            text-align: center;
            padding: 0px 20px;
            
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .chat-message-list {
            max-width: 800px;
            width: 100%;
        }
    }

    .chat-input {
        flex: 0 1 auto;
        max-width: 800px;
        padding: 5px 50px 20px;
        width: 100%;
        align-self: center;
    }

    .chat-not-selected {
        font-size: 36px;
        color: var(--main-chat-start-messaging-color);
    }
}

@media (min-width: $tablet-width) and (max-width: $laptop-width) {
    .chat-container {
        .chat-input {
            padding: 5px 30px 20px;
        }
    }
}

@media (max-width: $tablet-width) {
    .chat-container {
        .chat-input {
            padding: 5px 20px 20px;
        }
    }
}