<div 
    [class.not-selected]="selectedChat === null"
    class="chat-container">
    @if (selectedChat === null) {
        <p class="chat-not-selected">Select chat to start messaging</p>
    } @else {
        <app-chat-info-header 
            [isAddGroupChatRoute]="isAddGroupChatRoute()"
            class="chat-info-header"></app-chat-info-header>
        <div class="chat-message-list-wrapper">
            @if (isAddPrivateChatRoute() || isAddGroupChatRoute()) {
                <div class="chat-message-list-empty-state">
                    <p>Start typing below to create the chat</p>
                </div>
            } @else {
                <app-chat-message-list 
                    #messageListComponent
                    class="chat-message-list"></app-chat-message-list>
            }
        </div>
        <app-chat-input 
            class="chat-input"
            [editingMessageId]="chatMessageListComponent?.editingMessageId() ?? null"
            [editingMessageContent]="chatMessageListComponent?.editingMessageContent() ?? null"
            (messageSubmitted)="onMessageSubmit($event)"
            (editCancelled)="chatMessageListComponent?.onCancelEditMessage()"></app-chat-input>
    }
</div>