<div 
    [class.not-selected]="selectedChat === null"
    class="chat-container">
    @if (selectedChat === null) {
        <p class="chat-not-selected">Select chat to start messaging</p>
    } @else {
        <app-chat-info-header 
            class="chat-info-header"></app-chat-info-header>
        <div class="chat-message-list-wrapper">
            <app-chat-message-list 
                class="chat-message-list"
                [isAddPrivateChatRoute]="isAddPrivateChatRoute()"
                [isAddGroupChatRoute]="isAddGroupChatRoute()"></app-chat-message-list>
        </div>
        <app-chat-input 
            class="chat-input"
            (messageSubmitted)="onMessageSubmit($event)"></app-chat-input>
    }
</div>