.add-chat-background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.add-chat-container {
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;

    .user-list {
        display: flex;
        height: 90%;
    }
}

// .add-chat-background {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: fixed;
//     background-color: rgba(0, 0, 0, 0.25);
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }

// .add-chat-container {
//     background-color: white;
//     border-radius: 10px;
//     width: 30vw;
//     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
//     padding: 20px;
// }