.user-list-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.user-list-container::-webkit-scrollbar {
    display: none;
}