button {
    background: rgb(199,121,208);
    background: linear-gradient(90deg, rgba(199,121,208,1) 0%, rgba(75,192,200,1) 100%);
    border: none;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    width: inherit;
    height: inherit;
    font-size: inherit;
    text-align: center;

    &.disabled {
        background: rgb(199,121,208);
        background: linear-gradient(90deg, rgba(199,121,208,0.7) 0%, rgba(75,192,200,0.7) 100%);
        cursor: not-allowed;
    }
}