.user-item-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 12px;
    background-color: #D9D9D9;

    .user-icon {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        object-fit: cover;
    }

    .name {
        font-size: 16px;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    .username {
        font-size: 12px;
        color: #7D7D7D;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    .select-user-checkbox {
        width: 20px;
        margin-left: auto;
        cursor: pointer;
    }
}