@use "../../../assets/styles/devices-size" as devices;

.email-confirm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    width: 100%;
    padding: 0;
    background-color: var(--email-confirmation-bg-color);
    transition: background-color 0.3s ease;

    p {
        color: var(--email-confirmation-text-color);
    }

    .email-confirm-content {
        display: flex;
        padding: 40px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 20px;

        img {
            width: 150px;
            height: 150px;
        }

        h1 {
            color: var(--email-confirmation-text-color);
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 5px;
        }

        p {
            font-size: 1.2rem;
        }

        .back-to-main-button {
            margin-top: 50px;
        }
    }
}

@media (max-width: devices.$mobileM-width) {
    .email-confirm-container {
        padding: 0 20px;

        .email-confirm-content {
            img {
                width: 100px;
                height: 100px;
            }

            h1 {
                font-size: 1.7rem;
                margin-bottom: 5px;
            }

            p {
                font-size: 1rem;
            }

            .back-to-main-button {
                margin-top: 75px;
            }
        }
    }
}