.common-button {
    border: 0;
    outline: none;
    background: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    &.disabled {
        opacity: 0.7;
        pointer-events: none;
    }

    &:hover {
        cursor: pointer;
    }
}