.common-button {
    border: 0;
    outline: none;
    background: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.common-button:hover {
    cursor: pointer;
}