@model string;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0; background-color: #E6E6E6; font-family: Arial, sans-serif;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" style="padding: 30px;">
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600" style="background-color: #FBFBFB; border: 1px solid #D0D0D0; border-radius: 15px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);">
                    <tr>
                        <td style="padding: 45px 110px 45px 90px;">
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td style="padding-left: 50px; padding-bottom: 15px; text-align: left;">
                                        <p style="font-family: 'Karla', sans-serif; font-size: 1em; color: #000000; background-color: #f1f1f1; padding: 10px; border-radius: 15px; max-width: 38px; margin: 0; margin-left: 20px;">
                                            Hi👋
                                        </p>
                                    </td>
                                </tr>
                            </table>

                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td style="padding-bottom: 15px; text-align: left; display: flex;">
                                        <img src="https://lh3.googleusercontent.com/d/1zIJGVx0RMKVEZNcQEYpUNc338Ox5rSFD=s220" alt="Icon" style="margin-top: 15px; width: 45px; height: 45px; border-radius: 50%;">
                                        <div style="margin-left: 25px">
                                            <p style="font-family: 'Karla', sans-serif; font-size: 1em; color: #000000; background-color: #f1f1f1; padding: 10px; border-radius: 15px; max-width: 320px; margin: 0;">
                                                To recover your password use the link down bellow.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td style="padding-left: 20px; padding-top: 20px; text-align: center;">
                                        <a href="@Model" style="font-family: 'Inter', sans-serif; font-size: 1.2em; font-weight: 600; color: #ffffff; text-decoration: none; padding: 16px 30px; border-radius: 20px; background-color: #6799EF; display: inline-block;">
                                            Recover Password
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 20px; padding-top: 10px; text-align: center;">
                                        <p style="font-family: 'Inter', sans-serif; font-size: 0.8em; color: #000000; text-align: center; margin: 0;">
                                            <span style="font-weight: 600; color: #FF0000;">
                                                Remember!
                                            </span> Don't share this link with anyone.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
