<div class="forgot-password-container">
    <div class="logo">
        <img src="/images/logo.png" alt="Logo">
        <h1>MessengerM</h1>
    </div>
    <form class="forgot-password-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <h2 class="forgot-password-info"><span>Forgot password?</span><br/> Request a letter with reset link to your email.</h2>
        <div class="form-input">
            <app-auth-input
                [name]="'email'"
                [inputType]="'email'"
                [svgConfig]="emailIcon"
                [inputPlaceholder]="'Type your email'"
                formControlName="email"></app-auth-input>
            <app-auth-error-box
                [errors]="formConfiguration['email'].controlErrors()"
                [errorMessagesConfig]="formConfiguration['email'].errorMessagesConfig()"
                [inputTouchedOrDirty]="formConfiguration['email'].controlTouchedOrDirty()"></app-auth-error-box>
        </div>

        <app-auth-button 
            class="forgot-password-button"
            [disabled]="submitButtonDisabled()"
            [buttonText]="'Request reset email'"></app-auth-button>
    </form>
    
    <div class="footer">
        <a class="link-message" [routerLink]="['/']">Back to main page</a>
    </div>
</div>