@if (isVisible()) {
    <div
        class="modal-backdrop"
        (click)="onBackdropClick($event)"
        [style.left.px]="position()?.x"
        [style.top.px]="position()?.y">
        <div class="modal-menu">
            <app-message-operations-modal-item
                (click)="onDeleteForMe()"
                [svgConfig]="trashIcon"
                [itemLabel]="'Delete for me'"></app-message-operations-modal-item>
            @if (deleteForEveryoneVisible()) {
                <app-message-operations-modal-item
                    (click)="onDeleteForEveryone()"
                    [svgConfig]="trashIcon"
                    [itemLabel]="'Delete for everyone'"></app-message-operations-modal-item>
            }
        </div>
    </div>
}
