<div class="reset-password-container">
    <ngx-spinner
        bdColor="rgba(0, 0, 0, 0)"
        size="medium"
        color="#6799EF"
        type="ball-beat"
        [disableAnimation]="true"
        [fullScreen]="true"><p>Loading...</p></ngx-spinner>

    @if (!isLoading) {
        <div class="logo">
            <img src="/images/logo.png" alt="Logo">
            <h1>MessengerM</h1>
        </div>
        <form class="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <h2 class="reset-password-info">Reset your password:</h2>
            <div class="form-input">
                <app-auth-input
                    [name]="'password'"
                    [svgConfig]="passwordIcon"
                    [inputType]="'password'"
                    [inputPlaceholder]="'Type your new password'"
                    formControlName="password"></app-auth-input>
                <app-auth-error-box
                    [errors]="formConfiguration['password'].controlErrors()"
                    [errorMessagesConfig]="formConfiguration['password'].errorMessagesConfig()"
                    [inputTouchedOrDirty]="formConfiguration['password'].controlTouchedOrDirty()"></app-auth-error-box>
            </div>
            <div class="form-input">
                <app-auth-input
                    [name]="'repeatPassword'"
                    [svgConfig]="passwordIcon"
                    [inputType]="'password'"
                    [inputPlaceholder]="'Repeat your new password'"
                    formControlName="repeatPassword"></app-auth-input>
                <app-auth-error-box
                    [errors]="formConfiguration['repeatPassword'].controlErrors()"
                    [errorMessagesConfig]="formConfiguration['repeatPassword'].errorMessagesConfig()"
                    [inputTouchedOrDirty]="formConfiguration['repeatPassword'].controlTouchedOrDirty()"></app-auth-error-box>
            </div>

            <app-auth-button 
                class="reset-password-button"
                [disabled]="submitButtonDisabled()"
                [buttonText]="'Reset password'"></app-auth-button>
        </form>
        
        <div class="footer">
            <a class="link-message" [routerLink]="['/']">Back to main page</a>
        </div>
    }
</div>