<div class="container">
    <div class="login-form">
        <h2>Messenger</h2>
        
        <form>
            <app-input inputType="text" 
            imageSource="/images/user.svg" 
            inputPlaceholder="Type your username"
            ></app-input>
            <app-input inputType="password"
             imageSource="/images/password.svg"
             inputPlaceholder="Type your password"></app-input>
        </form>

        <app-button link="/chats" buttonText="Sign in"></app-button>
    </div>
</div>