<app-edit-message-modal 
    [messageContent]="editingMessageContent() || ''"
    [messageId]="editingMessageId() || ''"
    [isVisible]="isEditingMessageMode()"
    (cancel)="onCancelEdit()">
</app-edit-message-modal>

<div class="chat-input-container">
    <app-input 
        (keyup.enter)="onSubmit()"
        [focus]="isEditingMessageMode()"
        [(inputValue)]="message" 
        [placeholder]="isEditingMessageMode() ? 'Edit your message...' : 'Type your message...'"></app-input>
    <button (click)="onSubmit()" [attr.aria-label]="isEditingMessageMode() ? 'Update message' : 'Send message'">
        <img [src]="isEditingMessageMode() ? '/images/update.svg' : '/images/send.svg'" 
             [alt]="isEditingMessageMode() ? 'Update' : 'Send'" />
    </button>
</div>