.search-bar-container {
    position: relative;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
        width: 20px;
        height: 20px;

        path {
            fill: #CECECE;
        }
    }

    .search-input {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 10px;
        padding: 8px 12px 8px 30px;
        outline: none;

        &::placeholder {
            color: #CECECE;
        }
    }
}