@if (chatListLoading()) {
    <p class="chats-loading">Loading...</p>
} @else {
    <div>
        @for (chatItem of mappedChatList(); track chatItem.id) {
            @if (chatItem.id === selectedChatId()) {
                <app-chat-item 
                    [chatItem]="chatItem" 
                    [currentUserId]="currentUserId()" 
                    [selected]="true"></app-chat-item>
            } @else {
                <app-chat-item 
                    [chatItem]="chatItem" 
                    [currentUserId]="currentUserId()"></app-chat-item>
            }
        } @empty {
            <p class="chats-not-found">No chats found</p>
        }
    </div>
}