.container {
    display: flex;
    background-color: var(--not-found-bg-color);
    color: var(--not-found-text-color);
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    padding: 80px 40px 40px;
    transition: background-color 0.3s ease;

    h2 {
        font-size: 4.5rem;
        color: #6799EF;
        font-weight: bold;
    }

    h3 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }

    p {
        font-size: 1rem;
        text-align: center;
        padding-top: 10px;
    }

    a {
        color: #7688FF;
        text-decoration: underline;
    }
}