name: Deploy Azure Function project

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "Api/src/Messenger.AzureFunctions/**"
      - ".github/workflows/**-azure-functions.yml"

env:
  AZURE_FUNCTIONAPP_NAME: 'messengerm-functions'
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'Api/functions/build'
  DOTNET_VERSION: '9.0.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v4

    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_RBAC_CREDENTIALS }}

    - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: 'Resolve Project Dependencies Using Dotnet'
      shell: bash
      run: |
        dotnet build ./Api/src/Messenger.AzureFunctions/Messenger.AzureFunctions.csproj -c Release -o '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'

    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
