name: Deploy Web API project

env:
  AZURE_WEBAPP_NAME: messengerm-api
  AZURE_WEBAPP_PACKAGE_PATH: "Api/publish"
  DOTNET_VERSION: "9.0.x"

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "Api/**"
      - ".github/workflows/**-api.yml"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: dotnet restore ./Api/Messenger.Api.sln

      - name: Build
        run: dotnet build ./Api/Messenger.Api.sln --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./Api/Messenger.Api.sln --configuration Release --no-build --output '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}'

      - name: Deploy
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_API_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
